@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Caprasimo&display=swap');
/*REFERÊNCIA HOME: https://visitbrasil.com/pt/location/salvador-pt/ */

:root {
    /* Fontes */ 
    --font-title: 'Caprasimo', serif;
    --font-body: 'Amaranth', sans-serif;

    /* Paleta de Cores */
    --primary-color: #ffd046;
    --second-color: #ce6c47;
    --accent-color: #960200;
    --background-color: #eadaa2;
    --text-color: #241e4e;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

main{
    margin: 0.8rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

#principais-pratos h2{
    font-size: 2.7rem;
    text-align: center;
}

#principais-pratos > p:first-of-type  {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

#principais-pratos{
    display: flex;
    flex-direction: column;
    gap: 1.2rem; 
}

.texto-prato{
   text-align: justify;
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   width: 100%;
}

.texto-prato h3{
    font-size: 2rem;
}

figcaption{
    font-size: 0.8rem;
    line-height: 0.7rem;
}

.prato-tipico{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60vh;
    gap: 15px;
    margin-bottom: 30vh;
}

#img-acaraje{
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#img-acaraje:hover{
    transform: translateY(-15px);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

#fig-acaraje{
    flex: 3;
}

#acaraje > .texto-prato{
flex: 2;
}

#img-moqueca{
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

#img-moqueca:hover{
    transform: translateY(-15px);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

#fig-moqueca{
    flex: 3;
}

#moqueca > .texto-prato{
flex: 2;
}

#img-abara{
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

#img-abara:hover{
    transform: translateY(-15px);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

#fig-abara{
    flex: 2;
}

#abara > .texto-prato{
flex: 3;
}

header{
    display: flex;
    font-family: var(--font-title);
    background-color: var(--primary-color);
    padding: 10px;
    justify-content: center;
}

h1{
    display: none;
}

@media (min-width: 768px) {
  h1 {
    display: flex;
  }
  nav{
    display: none;
  }
}

footer {
    display: flex;
    background-color: var(--primary-color);
    padding: 10px;
    justify-content: center;
}

.card{
    /* background-color: var(--primary-color); */
    background: linear-gradient(to bottom right, var(--primary-color), var(--second-color));
    border-radius: 10px 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    text-align: center;
    height: 350px;
    width: 250px;
}

.card:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
    transform: translateY(-5px);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-around;
    padding: 5px;
}

img {
    border-radius: 10px 10px 0px 0px;
}
